/* Kate Wise 07/26/2026 Final Project MadLibs  */


/* Allison Hanna provided CSS for Project 7 -- Mood Switcher Project */

/* Additions made for better formatting of questions & answers and to accomodate
differences in my HTML. Also added some best practice CSS learned from my Web110 class. */

* 
	{
	box-sizing: border-box;
	}

#adventure-form
    {
    display: none;
    }

#begin-again
    {
    display: none;
    }

body 
    {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: all 0.6s ease;
    min-height: 100vh;
    margin: 0;
    }

.dc-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
    }

#dc-options
    {
    display: none;
    }

#disaster-form
    {
    display: none;
    }

#generated-madlib
    {
    display: none;
    }

h1 
    {
    font-size: 3rem;
    margin-bottom: 10px;
    }

.kind-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }   
    
#kind-of-story
    {
    display: none;
    }

#madlib-entries
    {
    display: none;
    }

.marvel-button
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;   
    }

#dc-options
    {
    display: none;
    }

.reset-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

section
    {
    border-bottom: 4px solid #000;;
    }

#setting
    {
    display: none;
    }

.submit-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

#universe
    {
    display: block;
    }

.universe-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

#villain-form
    {
    display: none;
    }
