/* Kate Wise 07/26/2026 Final Project MadLibs  */


/* Allison Hanna provided CSS for Project 7 -- Mood Switcher Project */

/* Additions made for better formatting of questions & answers and to accomodate
differences in my HTML. Also added some best practice CSS learned from my Web110 class. */

* 
	{
	box-sizing: border-box;
	}

#adventure-form
    {
    display: none;
    border-radius: 18px;
    }

#begin-again
    {
    display: none;
    border-radius: 18px;
    }

body 
    {
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
    transition: all 0.6s ease;
    min-height: 100vh;
    margin: 0;
    }

#container-background-img
    {
    position: relative;
    width: 85vw;
    margin: 0;
    border-radius: 6px;
    overflow: hidden;
    }

.dc-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px; 
    }

#dc-options
    {
    display: none;
    border-radius: 18px;
    }

#disaster-form
    {
    display: none;
    border-radius: 18px;
    }

footer
    {
    z-index: 4;
    }

#generated-madlib
    {
    display: none;
    border-radius: 18px;
    }

#set-background-img
    {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    position: absolute;
    z-index: -1;
    }    

h1 
    {
    font-size: 3rem;
    margin-bottom: 10px;
    border-radius: 18px;
    z-index: 4;
    }

.kind-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }   
    
#kind-of-story
    {
    display: none;
    border-radius: 18px;
    }

#madlib-entries
    {
    display: none;
    border-radius: 18px;
    }

main
    {
    z-index: 3;
    }
    
.marvel-button
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;   
    }

#dc-options
    {
    display: none;
    border-radius: 18px;
    }

.reset-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

section
    {
    border-bottom: 4px solid #000;
    }

#setting
    {
    display: none;
    border-radius: 18px;
    }

.submit-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

#universe
    {
    display: block;
    border-radius: 18px;
    }

.universe-button 
    {
    padding: 14px 24px;
    margin: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    }

#villain-form
    {
    display: none;
    border-radius: 18px;
    }







