* 
	{
		box-sizing: border-box;
	}

body 
	{
		font-family: Arial, sans-serif;
		text-align: center;
		padding: 40px;
		background-color: #f0f8ff;
	}

h1 
	{ 
		color: #2c3e50; 
	}

/* Created a basic layout stylesheet.  Future changes will be made to support projects
and homework as required.*/